[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ray = {extras = ["rllib"], version = "==2.9.3"}
packaging = "*"
setuptools = "<65"
torch = "*"
numpy = "==1.26.4"

[dev-packages]
torch-tb-profiler = "*"
tensorboard = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.16"
